{% extends 'base.html' %} {% block title %} User Home Den {% endblock %} {%
block body %}

<h1>Home Den</h1>

{% if list|length > 0%}
<h4>Books in your list</h4>
<div class="row">
    {%for log in list%}
    <div class="card col-4">
        <a href="/den/{{log.book_id}}" class="mx-auto"
            ><img
                src="{{log.books.cover}}"
                class="card-img-top book-cover img-thumbnail img-fluid mx-auto"
                alt="{{log.books.title}} cover image"
        /></a>
        <div class="card-body">
            <p class="card-text">
                Started reading date: {{log.start_date}} <br />
                Stopped reading date:{{log.finish_date}} <br />
                Current page reading: {{log.current_page}}<br />
                Status: {{log.status}}
            </p>
        </div>
    </div>

    {%endfor%}
</div>

{%endif%} {% endblock %}
