{% extends 'base.html' %} {% block title %} The Book Worm Den {% endblock %} {%
block body %}

<div class="container text-center">
    <h1>Join the Den</h1>
    <p>Fill the form below to create your account.</p>

    <form method="post" id="signup_form">
        {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
        'hidden'%}
        <div class="mb-3 row text-center">
            {{field.label(class_="col-sm-4 col-form-label")}}
            <div class="col-sm-6">
                {{field(class_="form-control")}} {%for err in field.errors%}
                <small class="text-danger"> {{err}} </small>
                {%endfor%}
            </div>
        </div>
        {%endfor%}
        <div class="row justify-content-md-center text-start">
            <div class="col-ser col-sm-4"></div>
            <div class="col-12 col-sm-6">
                <i
                    class="fa-solid fa-circle-check text-secondary"
                    id="validate-digits"
                ></i>
                Minimum 6 Character<br />
                <i
                    class="fa-solid fa-circle-check text-secondary"
                    id="validate-uppercase"
                ></i>
                Uppercase<br />
                <i
                    class="fa-solid fa-circle-check text-secondary"
                    id="validate-lowercase"
                ></i>
                Lowercase<br />
                <i
                    class="fa-solid fa-circle-check text-secondary"
                    id="validate-numeric"
                ></i>
                Numeric Character<br />
            </div>
            <button
                id="submit_sigup_btn"
                type="submit"
                class="btn btn-secondary mt-3 w-100"
            >
                Sign Up Now
            </button>
        </div>
    </form>
</div>

<script src="static/profile.js"></script>
{% endblock %}
