h1 {
    color: darkblue;
    text-align: center;
    font-weight: bold;
}

body {
    /* background-color: lightgray; */
}

#book-search-section {
    position: fixed;
    top:10%;
    left: 10%;
    right: 10%;
    height:100%;
    background-color: lightgray;
    z-index: 10;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    display: none;
}